ansible
asn1crypto
beautifulsoup4
boto
boto3
botocore
certifi
cffi
chardet
click
colour
cryptography
defusedxml
docutils
enum34
graphviz
gTTS-token
idna
ipaddress
Jinja2
jira
jmespath
log4python
lxml
MarkupSafe
nose
oauthlib
packaging
pbr
pi
pip
pyasn1
pycparser
PyJWT
pyOpenSSL
pyparsing
python-dateutil
PyYAML
requests
requests-oauthlib
requests-toolbelt
s3transfer
setuptools
six
soupsieve
tornado
tqdm
urllib3
wheel